@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel";
  color: whitesmoke;
}

#content {
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  padding: 3em;
}

.cell-container {
  padding: 3em 6em;
}

button {
  padding: 1em 1.5em;
}

.temperature-text {
  padding: 20px 0 0 0;
}

.weather-img {
  width: 5rem;
  padding-bottom: 10px;
  display: block;
}

.search-container {
  display: flex;
  border-bottom: 3px solid whitesmoke;
  display: inline-flex;
  padding: 7.5px;
}

.search-container > * {
  justify-content: center;
}

input {
  display: block;
  padding: 0px;
  background-color: transparent;
  border: none;
  outline: none;
}

input::placeholder {
  color: whitesmoke;
}

.search-img {
  height: 25px;
}

.weather-cell-container {
  display: flex;
  gap: 1px;
  align-items: center;
  padding: 5px;
}

.weather-cell-img {
  height: 32px;
}

.toggle-container {
  padding-left: 5%;
  margin-top: 200px;
  display: flex;
  gap: 8px;
}

.toggle-container > button {
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 10px 20px;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
}
