@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel";
  color: whitesmoke;
}

#content {
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  padding: 1em;
}

button {
  padding: 1em 1.5em;
}

.search-container {
  display: flex;
  border-bottom: 3px solid whitesmoke;
  display: inline-flex;
  padding: 7.5px;
}

.search-container > * {
  justify-content: center;
}

input {
  padding: 0px;
  background-color: transparent;
  border: none;
  outline: none;
}

input::placeholder {
  color: whitesmoke;
}

.search-img {
  height: 25px;
}
